img{
    height: 500px;
    width: 1500px;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.centered{
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 40%;
    font-size: 60px;
}

.sub{
    font-size: larger;
    top: 50%;
    bottom: 50%;
    left: 40%;
}

.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute; 
    top: 400px;
    left: 700px;
    
}
span{
    text-decoration: underline;
    color: white;

}
.dev{
    color: #6554AF;
}
p{
    top: 20px;
    font-size: 20px;
}
h3{
    width: 200px;
    padding-top: 100px;
    padding-left: 740px;
    font-size: 30px;
}

.about{
    height: 200px;
}
p{
    width: 500px;
    padding-left: 550px;
    color:#9575DE;
}
.skills{
    top: 100px;
}

.develope{
    top: 1000px;
    left: 400px;
}
.design{
    top: 1300px;
}

.p-tag{
    padding-top: 90px;
    padding-left: 600px;
    font-size: 20px;
}
.p-tag1{
    padding-top:170px;
    padding-left: 600px;
    font-size: 20px;
}
footer{
    background-color: #6554AF;
    height: 10rem;
    width: 95em;
}



